 
  <div>
<lable>back to </lable>
<%= link_to "Upload", "/uploads" %>
</div>

 <%=@mytest1 %>
<br /><br />
 <%=@mytest %>
 <br />


  <br /><br />
 
 <div id="data" style="color:red"></div>
 
<script>
 
 $(document).ready(function(){
      //$('#button').click(function(){
       //$('#loadingmessage').show()
         callajax();
        //});
  });  
  
  //===================================
   function callajax(){
       
   $.ajax({
   url: '/validator.json/?id=<%=@id%>', dataType: "json",
     beforeSend : function(xhr){
       xhr.setRequestHeader("Accept", "application/json")
     },
     success : function(data){
           $('#loadingmessage').hide();
       //.. do something with data
      $.each(data, function( i, v ) {
           $('#data').append("<table><tr>")
          $.each(v, function( index, value ) {
              var ddd=v.toString()
              
            if( ddd.indexOf('error') >= 0){
                $('#data').append( "<td>"+value +"</td>")
              }
              
              
          });
           $('#data').append("</tr></table>")
    });
        },
          error: function(objAJAXRequest, strError, errorThrown){
           alert("ERROR: " + strError);
        }
        }
    );


}   
 
//===================================================================   
</script>

<br /><br />

 <%= image_tag("ajax-loader.gif", :alt => "Spinning", :class => "round", :id =>'loadingmessage' ) %>
 


<br /><br />
  
 
  



