

<div>
<lable>back to </lable>
<%= link_to "Upload", "/uploads" %>
</div>



<br />
<br />
<%= @file_json%>
 
 <br />
<br />
 
 <%=  @chkamt %>
 
 
 <%=  @chkamt %>
 <%=   @chk %>
 <%=  @amt %>
 
 








