 


  <% if flash[:error] %>
    <p class='error'><%=h flash[:error] %></p>
  <% end %>
  

<div>
 
    <%= @check_for_pst %>
    
</div>


<div>
<lable>back to </lable>
<%= link_to "Upload", "/uploads" %>
</div>


 <%= render partial: 'file_header' %>

<br /><br />

 <%= render partial: 'invoice_headers' %>



<br /><br />

 <%= render partial: 'invoice_details' %>

<br /><br />
  
 
  

<td><%= link_to 'Destroy', validator_d_path, method: :delete, data: { confirm: 'Are you sure?' } %></t

