 
  <p class = "error"><%= @fheader_layout %></p>
    <p class = "error"><%= @iheader_layout %></p>
    <p class = "error"><%= @idetails_layout %></p>
         
  
  <br /><br />
 <%=@display %>
 <br />
 
 <%=@a %>
 <br /><br />
 
<div>
 <h4> Pst validation</h4>
    <%= @check_for_pst %>
    
</div>


<div>
<lable>back to </lable>
<%= link_to "Upload", "/uploads" %>
</div>


 <%= render partial: 'file_header' %>

<br /><br />

 <%= render partial: 'invoice_headers' %>



<br /><br />

 <%= render partial: 'invoice_details' %>

<br /><br />
  
 
  

<td><%= link_to 'Destroy', validator_d_path, method: :delete, data: { confirm: 'Are you sure?' } %></t

