<h1>Listing invoices</h1>
        <p><%= link_to 'Delete All', invoices_index_path , method: :delete,  data: { confirm: 'Are you sure?' } %></p>
    
    <p><%= link_to 'Uploads', "/uploads" %></p>
<table>
  <thead>
    <tr>
      <th>Inv n</th>
      <th>Supplier</th>
      <th>Inv amt</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.inv_n %></td>
        <td><%= invoice.supplier %></td>
        <td><%= invoice.inv_amt %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
