<h1 Uploads</h1>


<p><%= link_to 'Home', "/" %></p>


<%= form_tag({:action => 'index'}, :method => :post, :multipart => true, :controller => UploadsController) do %>
  <%= file_field 'upload', 'datafile' %></p>
  <%= submit_tag 'Upload' %>
<% end %>


<br />
<h3>List of uploaded files </h3>


<table>
   
        <% Dir.entries("public/data")[0..-1].each do |file_name| #[2..-1] as the first two will be ".", ".." %>
            <% unless file_name =="." || file_name ==".." %>
             <tr>
            <td><%= @l %> </td>
                 <td>
                     <%= link_to file_name, download_index_path( :file => "#{URI.escape(file_name)}", :filepath => "public/data"),  :controller => DownloadController %>
                </td>
                <td></td>
                
                <td>
                     <%= link_to  'Delete', uploads_path(:file => "#{URI.escape(file_name)}", :filepath => "public/data") ,:method => :delete, data: { confirm: 'Are you sure?' } %>
                     
                </td> 
                 <td></td>
                <td>
                     <%= link_to  'Validate', validate_uploads_path(:file => "#{URI.escape(file_name)}"), :method => :get  %>
                </td> 
                
                
            </tr>
            <% end %>
        <% end %>
   
</table>
<h3>List of files in db</h3>





<table>
<tbody>
    <% @uploads.each do |up| %>
      <tr>
        <td><%= up.filepath %></td>
       
      </tr>
    <% end %>
  </tbody>
  </table>
