<p><%= link_to 'Home', "/" %></p>
<br />
<%= flash[:notice]%>
<h3> File Upload</h3>
<%= form_tag({:action => 'create'}, :method => :post, :multipart => true, :controller => UploadsController, :id =>"uploadfile") do %>
    <%= file_field 'upload', 'file' %>
    <%= submit_tag 'Upload' %>
	
<% end %>
<div  id = "drop-files" class= 'dropz'>Click or drop file Here</div>
<br />

<br />
<style>

.dropz {
  border: 2px dashed #707070;
  color: #6E6E6E;  
  height: 70px;
  padding-top: 50px;
  text-align: center;
  width: 400px;
}

#uploadfile 	{
  border: 2px dashed #707070;
  color: #6E6E6E;  
  height: 70px;
  padding-top: 50px;
  text-align: center;
  width: 400px;
position: absolute;
left: -1000px;
}

</style>


<script>

 
 
$(document).ready(function() {
   
	 jQuery.event.props.push('dataTransfer');
	 
	 $( ".dropz" ).click(function(e) {
   	   		$("#upload_file").trigger('click');
		});
	
			
	        $('#uploadfile input').change(function (e) {
					if(e) $('input[type=submit]').trigger('click')
		    });
	   	
	
    var dataArray = [];
     var  files;
    $('.dropz')
	.bind('dragenter', function (e) {
         e.originalEvent.stopPropagation();
        e.originalEvent.preventDefault();
     })
      .bind('dragover', function (e) {
          e.originalEvent.stopPropagation();
        e.originalEvent.preventDefault();
        $('.dropz').css("backdround-color", "grey")
     })
    .bind('drop', function (e) {
        e.originalEvent.stopPropagation();
        e.originalEvent.preventDefault();
        
       files = e.dataTransfer.files;
     
  	   var data, xhr;

    	data = new FormData();
    	data.append( 'file', files[0] );
//alert( files[0] )
 	    callajax(data)
    
    });
 
 


});

function callajax(data){
    xhr = new XMLHttpRequest();

    xhr.open( 'POST', 'ajax', true );
    xhr.onreadystatechange = function ( response ) {location.reload(true)};
    xhr.send( data );
	e.preventDefault();
     
}   
   
</script>



<br />
<h3>List of uploaded files </h3>


<%= link_to  'Clean DB' , cleandb_uploads_path, :method => :delete, data: { confirm: 'Are you sure?' } %>


   <div id="divajax"></div>
 <%= render partial: 'uploaded' %>
   
     
  
  
  
