


<div id="popup" class ="notice" style="color:green; display:none">

  <%= collection_select(:get,:ftype_id,Filetype.all,:id, :ftype) %>
</div>

<br />
<h3>Upload file for validation</h3>
<br />

    <div class="selected_btn">
        <%= form_tag({:action => 'create'}, :method => :post, :multipart => true, :controller => UploadsController, :id =>"uploadfile") do %>
            <%= file_field 'upload', 'file'%>
            <%= hidden_field_tag :user, :value => @user %>
            <%= submit_tag 'Upload' %>
        	
        <% end %>
    </div>



<br />

<script>
 
$(document).ready(function() {});

</script>

    


<div id="rest">
    <h3>List of uploaded files </h3>
<br />
<table>
<tbody>
<% if @uploads %>
   <% @uploads.each do |up| %>
        <tr>
            <td><%= up.filepath %></td>
            <td><%= link_to "Download", download_index_path(:file => up.filepath, :filepath => "public/data"), :method => :get, :controller => DownloadController %></td>
            <td><%= link_to 'Delete', upload_path(:id => up.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td><%= link_to 'Validate', validator_path(:id => up.id), :class => "val" %></td>
    
        </tr>
     <% end %>
 <% end %>
</tbody>
  </table>
  
 
  
<hr />
<h3>Validated files</h3>
<br />
 <table>
<tbody>
  
   <% if @validfiles %>
   <% @validfiles.each do |v| %>
    <tr>
        <td><%= v.filepath %></td>
        <td><%= link_to "Download", download_index_path(:file => v.filepath, :filepath => "public/done"), :method => :get, :controller => DownloadController %></td>
        <td><%= link_to 'Delete', upload_path(:id => v.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
    </tr>
  <% end %>
 <% end %>
 </tbody>
  </table>
  <hr /> 
    <% if can? :update, :all%> 
  
  <h3>Setup</h3>

<p><%= link_to 'Supplier', suppliers_path %></p>
<p><%= link_to 'Layout', layouts_path %></p>

  <%end%>


<% if can? :update, cleandb_uploads_path%>
<%= link_to  'Clean DB' , cleandb_uploads_path, :method => :delete, data: { confirm: 'Are you sure?' } %>
 <%end%>
 
 
 
 
 
 </div>
 
 
 
 
 
 
