
<%= @d %>

<h3>Upload file for validation</h3>
<br />
<br />




        <div class="selected_btn">
        <%= form_tag({:action => 'create'}, :method => :post, :multipart => true, :controller => UploadsController, :id =>"uploadfile") do %>
            <%= file_field 'upload', 'file'%>
            <%= hidden_field_tag :user, :value => @user %>
           
          <%= submit_tag 'Upload' %>
        	
        <% end %>
        </div>
        <div  id = "drop-files" class= 'dropz'>Click or drop file Here</div>


<br />

<br />
<style>

.dropz {
  border: 2px dashed #707070;
  color: #6E6E6E;  
  height: 120px;
  padding-top: 50px;
  text-align: center;
  width: 400px;
}

#uploadfile 	{
  border: 2px dashed #707070;
  color: #6E6E6E;  
  height: 120px;
  padding-top: 50px;
  text-align: center;
  width: 400px;
    position: absolute;
    left: -1000px;
    
   
}



</style>


<script>

function isIE( version, comparison ){
    var $div = $('<div style="display:none;"/>').appendTo($('body'));
    $div.html('<!--[if '+(comparison||'')+' IE '+(version||'')+']><a>&nbsp;</a><![endif]-->');
    var ieTest = $div.find('a').length;
    $div.remove();
    return ieTest;
}

 
$(document).ready(function() {
   
	 jQuery.event.props.push('dataTransfer');
if(isIE(8)){ /* runs in IE8 */
    $( ".dropz" ).hide()
    $('#uploadfile').css("left", "0px")
    $('#rest').css("padding-top", "100px")
  
    
} 
	 $( ".dropz" ).click(function(e) {
   	   		$("#upload_file").trigger('click');
		});

	if(!isIE(8)){ /* runs in IE8 */
			
	        $('#uploadfile input').change(function (e) {
					if(e) $('input[type=submit]').trigger('click')
		    });
	}
	
    var dataArray = [];
     var  files;
    $('.dropz')
	.bind('dragenter', function (e) {
         e.originalEvent.stopPropagation();
        e.originalEvent.preventDefault();
     })
      .bind('dragover', function (e) {
          e.originalEvent.stopPropagation();
        e.originalEvent.preventDefault();
        $('.dropz').css("backdround-color", "grey")
     })
    .bind('drop', function (e) {
        e.originalEvent.stopPropagation();
        e.originalEvent.preventDefault();
        
       files = e.dataTransfer.files;
     
  	   var data, xhr;

    	data = new FormData();
    	data.append( 'file', files[0] );
       //alert(data.to_json)
 	    callajax(data)
    
    });
 
 


$( '.val' ).click(function(e) {
    
   	   	//	confirm("")//$("#file_info").html('click').show();
		});
    

});

function callajax(data){
    xhr =  getXMLHttpRequest()

    xhr.open( 'POST', 'uploads/ajax', true );
    xhr.onreadystatechange = function ( response ) {location.reload(true)};
    xhr.send( data );
	e.preventDefault();
     
}   
   
   
   function getXMLHttpRequest() {

   var xhr = null;

   if (window.XMLHttpRequest || window.ActiveXObject) {
      if (window.ActiveXObject) {
         try {
            xhr = new ActiveXObject("Msxml2.XMLHTTP");
         } catch(e) {
            xhr = new ActiveXObject("Microsoft.XMLHTTP");
         }
      } else {
         xhr = new XMLHttpRequest();
      }
   } else {
      alert("Your browser doesn't support XMLHTTPRequest...");
      return null;
   }

   return xhr;

}
</script>



<br />
<br />


 <br />

<div id="rest">
<h3>List of uploaded files </h3>

 
 
   <div id="file_info" style="display:none; position:absolute; top:100px, left:100px"></div>
 
 <% if !@user.nil? %>
 
 
  <%end%>
  
 <br />
<br />
 
 
 
<table>
<tbody>
<% if @uploads %>
   <% @uploads.each do |up| %>
 <tr>
        <td><%= up.filepath %></td>
        <td><%= link_to "Download", download_index_path(:file => up.filepath, :filepath => "public/data"), :method => :get, :controller => DownloadController %></td>
        <td><%= link_to 'Delete', upload_path(:id => up.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Validate', validator_path(:id => up.id), :class => "val" %></td>

     
</tr>
  <% end %>
 <% end %>

  </tbody>
  </table>
  
   
   
    <% if can? :update, :all%> 
  
  <h3>Setup</h3>

<p><%= link_to 'Supplier', suppliers_path %></p>
<p><%= link_to 'Layout', layouts_path %></p>

  <%end%>


<% if can? :update, cleandb_uploads_path%>
<%= link_to  'Clean DB' , cleandb_uploads_path, :method => :delete, data: { confirm: 'Are you sure?' } %>
 <%end%>
 
 </div>
