

<style>

#media-dropzone {
  border: 2px dashed #707070;
  color: #6E6E6E;  
  height: 70px;
  padding-top: 50px;
  text-align: center;
  width: 400px;
}
</style>
<%= @media %>
<h3> File Upload</h3>
<%= form_tag({:action => 'create'}, :method => :post, :multipart => true, :controller => UploadsController, :remote => true ,:id =>"upload") do %>
    <%= file_field 'upload', 'datafile' %>
    <%= submit_tag 'Upload' %>
<% end %>

<form action="/uploads/create" id="media-dropzone" class="dropzone" enctype="multipart/form-data">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <div class="fallback">
    <input name="upload[datafile]" type="file" multiple />
  </div>
</form>




<%= flash[:notice]%>


<script>
 // $(function() {
 // var mediaDropzone;
  //mediaDropzone = new Dropzone("#media-dropzone");
  //return mediaDropzone.on("success", function(file, responseText) {
//    var imageUrl;
 //   imageUrl = responseText.file_name.url;
  //});
//});
</script>




<p><%= link_to 'Home', "/" %></p>


<br />
<h3>List of uploaded files </h3>


<%= link_to  'Clean DB' , cleandb_uploads_path, :method => :delete, data: { confirm: 'Are you sure?' } %>

<table>
<tbody>
    <% @uploads.each do |up| %>
      <tr>
        <td><%= up.filepath %></td>
        <td><%= link_to "Download", download_index_path(:file => up.filepath, :filepath => "public/data"), :method => :get, :controller => DownloadController %></td>
        <td><%= link_to 'Delete', upload_path(:id => up.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to  'Validate', validate_uploads_path(:file => up.filepath), :method => :get  %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
