
<%= flash[:notice]%>
<h3> File Upload</h3>
<%= form_tag({:action => 'create'}, :method => :post, :multipart => true, :controller => UploadsController, :remote => true ,:id =>"upload") do %>
    <%= file_field 'upload', 'file' %>
    <%= submit_tag 'Upload' %>
<% end %>

<br />

<br />
<style>

#upload-dropzone {
  border: 2px dashed #707070;
  color: #6E6E6E;  
  height: 70px;
  padding-top: 50px;
  text-align: center;
  width: 400px;
}

#drop-files {
  border: 2px dashed #707070;
  color: #6E6E6E;  
  height: 70px;
  padding-top: 50px;
  text-align: center;
  width: 400px;
}

</style>

<%= form_tag( {:action => 'ajax'}, :remote => true ) do %>

<div id="drop-files" >
          Drop Images Here
</div>
<% end %>

<script>
$(document).ready(function() {
   
    jQuery.event.props.push('dataTransfer');
    var dataArray = [];
    
    $('#drop-files')
     .bind('dragenter', function (e) {
         e.originalEvent.stopPropagation();
        e.originalEvent.preventDefault();
     })
      .bind('dragover', function (e) {
          e.originalEvent.stopPropagation();
        e.originalEvent.preventDefault();
        $('#drop-files').css("backdround-color", "grey")
     })
    .bind('drop', function (e) {
        e.originalEvent.stopPropagation();
        e.originalEvent.preventDefault();
        
       var  files = e.dataTransfer.files;
      //var  data = new FormData()
       // data.append( 'file', input.files[0] )
      //alert('data')  
      //callajax(data)
  var data, xhr;

    data = new FormData();
    data.append( 'file', files[0] );

    xhr = new XMLHttpRequest();

    xhr.open( 'POST', 'ajax', true );
    xhr.onreadystatechange = function ( response ) {location.reload(true)};
    xhr.send( data );
    
    

    e.preventDefault();
    
    });
 
 


 function callajax(){
    $.ajax({
    url: 'index',
    data: data,
    cache: false,
    contentType: 'multipart/form-data',
    processData: false,
    type: 'POST',
     success: function(data){
          alert(data);
     }
    });
      
 }   
    
});
</script>




<p><%= link_to 'Home', "/" %></p>


<br />
<h3>List of uploaded files </h3>


<%= link_to  'Clean DB' , cleandb_uploads_path, :method => :delete, data: { confirm: 'Are you sure?' } %>


   <div id="divajax"></div>
            <%= render partial: 'uploaded' %>
   
     
  
  
  
