<%= form_for(@filetype) do |f| %>
  <% if @filetype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@filetype.errors.count, "error") %> prohibited this filetype from being saved:</h2>

      <ul>
      <% @filetype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ftype %><br>
    <%= f.text_field :ftype %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
