<p id="notice"><%= notice %></p>

<p>
  <strong>Ftype:</strong>
  <%= @filetype.ftype %>
</p>

<p>
  <strong>Country:</strong>
  <%= @filetype.country %>
</p>

<%= link_to 'Edit', edit_filetype_path(@filetype) %> |
<%= link_to 'Back', filetypes_path %>
