<%= form_for(@supplier) do |f| %>
  <% if @supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
      <% @supplier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
    <tr>
                <td>
                      <div class="field">
                        <%= f.label :SupplierNo %><br>
                        <%= f.text_field :SupplierNo %>
                      </div>
                </td>
                <td>
                      <div class="field">
                        <%= f.label :SupplerName %><br>
                        <%= f.text_field :SupplerName %>
                      </div>
               </td>
             
             <td>
             
                      <div class="field">
                        <%= f.label :Account %><br>
                        <%= f.text_field :Account %>
                      </div>
               </td>
               
              <td>
                    <div class="field">
                    <%= f.label :SubAccount %><br>
                    <%= f.text_field :SubAccount %>
              </div>
              
             
              
              
       </tr>
           
        <tr>
             <td>
                  <div class="field">
                    <%= f.label :OU %><br>
                    <%= f.text_field :OU %>
                  </div>
               </td>
              <td>
                  <div class="field">
                    <%= f.label :AB %><br>
                    <%= f.text_field :AB %>
                  </div>
               </td>
              <td>
                  <div class="field">
                    <%= f.label :BC %><br>
                    <%= f.text_field :BC %>
                  </div>
               </td>
              <td>
                  <div class="field">
                    <%= f.label :MA %><br>
                    <%= f.text_field :MA %>
                  </div>
               </td>
              <td>
                  <div class="field">
                    <%= f.label :NB %><br>
                    <%= f.text_field :NB %>
                  </div>
               </td>
              <td>
                  <div class="field">
                    <%= f.label :NF %><br>
                    <%= f.text_field :NF %>
                  </div>
               </td>
              <td>
                  <div class="field">
                    <%= f.label :NS %><br>
                    <%= f.text_field :NS %>
                  </div>
               </td>
              <td>
                  <div class="field">
                    <%= f.label :NU %><br>
                    <%= f.text_field :NU %>
                  </div>
               </td>
        </tr>
        <tr>      
              <td>
                  <div class="field">
                    <%= f.label :NT %><br>
                    <%= f.text_field :NT %>
                  </div>
               </td>
              <td>
                  <div class="field">
                    <%= f.label :FC %><br>
                    <%= f.text_field :FC %>
                  </div>
               </td>
              <td>
                  <div class="field">
                    <%= f.label :ONT %><br>
                    <%= f.text_field :ONT %>
                  </div>
               </td>
              <td>
              <div class="field">
                <%= f.label :PE %><br>
                <%= f.text_field :PE %>
              </div>
               </td>
              <td>
              <div class="field">
                <%= f.label :QC %><br>
                <%= f.text_field :QC %>
              </div>
               </td>
              <td>
              <div class="field">
                <%= f.label :SK %><br>
                <%= f.text_field :SK %>
              </div>
               </td>
              <td>
              <div class="field">
                <%= f.label :YU %><br>
                <%= f.text_field :YU %>
              </div>
               </td>
              <td>
              <div class="field">
                <%= f.label :IO %><br>
                <%= f.text_field :IO %>
              </div>
               </td>
              <td>
              <div class="field">
                <%= f.label :IQ %><br>
                <%= f.text_field :IQ %>
              </div>
              </td>
              
        </tr>
        <tr>
                <td>
                    <div class="actions">
                       <%= f.submit %>
                  </div>
               </td>
          </tr>
  </table>
<% end %>
