<h1>Listing suppliers</h1>

<%= form_tag(suppliers_u_path, :multipart => true) do %>
  <%= file_field 'upload', 'datafile' %>
  <%= submit_tag 'Upload' %>
<% end %>


<br />
<br />
<h2>Layouts list </h2>
<table>
   
        <% Dir.entries("public/suppliers")[2..-1].each do |file_name| #[2..-1] as the first two will be ".", ".." %>
               <tr>
                   <td>
                     <%= link_to file_name, suppliers_path(:file => "#{URI.escape(file_name)}"), :method => :get, :controller => DownloadController %>
                </td>
                
            </tr>
            
        <% end %>
   
</table>

<br />
<br />

<table>
  <thead>
    <tr>
      <th>Supplierno</th>
      <th>Supplername</th>
      <th>Account</th>
      <th>Subaccount</th>
      <th>Ou</th>
      <th>Ab</th>
      <th>Bc</th>
      <th>Ma</th>
      <th>Nb</th>
      <th>Nf</th>
      <th>Ns</th>
      <th>Nu</th>
      <th>Nt</th>
      <th>Fc</th>
      <th>Ont</th>
      <th>Pe</th>
      <th>Qc</th>
      <th>Sk</th>
      <th>Yu</th>
      <th>Io</th>
      <th>Iq</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.SupplierNo %></td>
        <td><%= supplier.SupplerName %></td>
        <td><%= supplier.Account %></td>
        <td><%= supplier.SubAccount %></td>
        <td><%= supplier.OU %></td>
        <td><%= supplier.AB %></td>
        <td><%= supplier.BC %></td>
        <td><%= supplier.MA %></td>
        <td><%= supplier.NB %></td>
        <td><%= supplier.NF %></td>
        <td><%= supplier.NS %></td>
        <td><%= supplier.NU %></td>
        <td><%= supplier.NT %></td>
        <td><%= supplier.FC %></td>
        <td><%= supplier.ONT %></td>
        <td><%= supplier.PE %></td>
        <td><%= supplier.QC %></td>
        <td><%= supplier.SK %></td>
        <td><%= supplier.YU %></td>
        <td><%= supplier.IO %></td>
        <td><%= supplier.IQ %></td>
        <td><%= link_to 'Show', supplier %></td>
        <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
        <td><%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supplier', new_supplier_path %>

<p><%= link_to 'Home', "/" %></p>
