
<p><%= link_to 'Home', "/" %></p>

<p id="notice"><%= notice %></p>

<h1>Listing suppliers</h1>

<%= form_tag(upload_suppliers_path, :multipart => true) do %>
  <%= file_field 'upload', 'datafile' %>
  <%= submit_tag 'Upload' %>
<% end %>


<br />
<br />

<table style="display:">
   
        <% Dir.entries("public/suppliers")[0..-1].each do |file_name| #[2..-1] as the first two will be ".", ".." %>
                <% unless file_name =="." || file_name ==".." %>
               <tr>
                    <td>
                     <%= link_to file_name, download_index_path(:file => "#{URI.escape(file_name)}", :filepath => "public/suppliers"), :method => :get, :controller => DownloadController %>
                    </td>
                <td>
                     <%= link_to  'Delete', delete_file_suppliers_path( :file => "#{URI.escape(file_name, /\W/)}"), :method => :delete, data: { confirm: 'Are you sure?' } %>
                </td> 
                
            </tr>
             <% end %>
        <% end %>
   
</table>

<h2>supplier in db list </h2>

<table>
<% @supplierfiles.each do |supplierfile| %>
<tr>
    <td><%= supplierfile.filepath  %> </td>  
    
    <td>
        <%= link_to 'Destroy', delete_file_suppliers_path(:id =>supplierfile.id), method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </td>
  
    <td>
        <%= link_to 'Upload to DB', update_from_file_suppliers_path(:id =>supplierfile.id), method: :post %>
    </td>
  </tr>
  <% end %>
</table>

<br />
<br />
<%= link_to  'Delete All' , cleandb_suppliers_path, :method => :delete, data: { confirm: 'Are you sure?' } %>

<table>
  <thead>
    <tr>
      <th>Supplierno</th>
      <th>Supplername</th>
      <th>Account</th>
      <th>Subaccount</th>
      <th>Ou</th>
      <th>Ab</th>
      <th>Bc</th>
      <th>Ma</th>
      <th>Nb</th>
      <th>Nf</th>
      <th>Ns</th>
      <th>Nu</th>
      <th>Nt</th>
      <th>Fc</th>
      <th>Ont</th>
      <th>Pe</th>
      <th>Qc</th>
      <th>Sk</th>
      <th>Yu</th>
      <th>Io</th>
      <th>Iq</th>
      <th>GSTHST</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.SupplierNo %></td>
        <td><%= supplier.SupplerName %></td>
        <td><%= supplier.Account %></td>
        <td><%= supplier.SubAccount %></td>
        <td><%= supplier.OU %></td>
        <td><%= supplier.AB %></td>
        <td><%= supplier.BC %></td>
        <td><%= supplier.MA %></td>
        <td><%= supplier.NB %></td>
        <td><%= supplier.NF %></td>
        <td><%= supplier.NS %></td>
        <td><%= supplier.NU %></td>
        <td><%= supplier.NT %></td>
        <td><%= supplier.FC %></td>
        <td><%= supplier.ONT %></td>
        <td><%= supplier.PE %></td>
        <td><%= supplier.QC %></td>
        <td><%= supplier.SK %></td>
        <td><%= supplier.YU %></td>
        <td><%= supplier.IO %></td>
        <td><%= supplier.IQ %></td>
        <td><%= supplier.GSTHST %></td>
        <td><%= link_to 'Show', supplier %></td>
        <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
        <td><%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supplier', new_supplier_path %>


