<p id="notice"><%= notice %></p>

<p>
  <strong>Supplierno:</strong>
  <%= @supplier.SupplierNo %>
</p>

<p>
  <strong>Supplername:</strong>
  <%= @supplier.SupplerName %>
</p>

<p>
  <strong>Account:</strong>
  <%= @supplier.Account %>
</p>

<p>
  <strong>Subaccount:</strong>
  <%= @supplier.SubAccount %>
</p>



<p>
  <strong>Ou:</strong>
  <%= @supplier.OU %>
</p>

<p>
  <strong>Ab:</strong>
  <%= @supplier.AB %>
</p>

<p>
  <strong>Bc:</strong>
  <%= @supplier.BC %>
</p>

<p>
  <strong>Ma:</strong>
  <%= @supplier.MA %>
</p>

<p>
  <strong>Nb:</strong>
  <%= @supplier.NB %>
</p>

<p>
  <strong>Nf:</strong>
  <%= @supplier.NF %>
</p>

<p>
  <strong>Ns:</strong>
  <%= @supplier.NS %>
</p>

<p>
  <strong>Nu:</strong>
  <%= @supplier.NU %>
</p>

<p>
  <strong>Nt:</strong>
  <%= @supplier.NT %>
</p>

<p>
  <strong>Fc:</strong>
  <%= @supplier.FC %>
</p>

<p>
  <strong>Ont:</strong>
  <%= @supplier.ONT %>
</p>

<p>
  <strong>Pe:</strong>
  <%= @supplier.PE %>
</p>

<p>
  <strong>Qc:</strong>
  <%= @supplier.QC %>
</p>

<p>
  <strong>Sk:</strong>
  <%= @supplier.SK %>
</p>

<p>
  <strong>Yu:</strong>
  <%= @supplier.YU %>
</p>

<p>
  <strong>Io:</strong>
  <%= @supplier.IO %>
</p>

<p>
  <strong>Iq:</strong>
  <%= @supplier.IQ %>
</p>
<p>
  <strong>String:</strong>
  <%= @supplier.GSTHST %>
</p>
<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
