<p id="notice"><%= notice %></p>

<p>
  <strong>Suppliernumber:</strong>
  <%= @supplier.supplierNumber %>
</p>

<p>
  <strong>Suppliername:</strong>
  <%= @supplier.supplierName %>
</p>

<p>
  <strong>Gl:</strong>
  <%= @supplier.GL %>
</p>

<p>
  <strong>On:</strong>
  <%= @supplier.ON %>
</p>

<p>
  <strong>Qc:</strong>
  <%= @supplier.QC %>
</p>

<p>
  <strong>Bc:</strong>
  <%= @supplier.BC %>
</p>

<p>
  <strong>Ab:</strong>
  <%= @supplier.AB %>
</p>

<p>
  <strong>Nl:</strong>
  <%= @supplier.NL %>
</p>

<p>
  <strong>Ma:</strong>
  <%= @supplier.MA %>
</p>

<p>
  <strong>Sk:</strong>
  <%= @supplier.SK %>
</p>

<p>
  <strong>Nf:</strong>
  <%= @supplier.NF %>
</p>

<p>
  <strong>Pei:</strong>
  <%= @supplier.PEI %>
</p>

<p>
  <strong>Nt:</strong>
  <%= @supplier.NT %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
