<%= javascript_include_tag  "jq.js" %>
<%= javascript_include_tag  "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js" %>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />

<%= form_tag({:action => 'create'}, :multipart => true) do %>
  <%= file_field 'upload', 'datafile' %>
  <%= submit_tag 'Upload' %>
<% end %>




<h2>Layouts list </h2>
<table>
   
      
      
        <% Dir.entries("public/layouts")[0..-1].each do |file_name| #[2..-1] as the first two will be ".", ".." %>
      <% unless file_name =="." || file_name ==".." %>
             <tr>
            <td><%= @l %> </td>
                 <td>
                     <%= link_to file_name, layouts_download_path( :file => "#{URI.escape(file_name)}"), :method => :post, :controller => DownloadController %>
                </td>
                <td>
                     <%= link_to  'Delete', layouts_d_path( :file => "#{URI.escape(file_name)}"), :method => :delete, :id =>'btnOpenDialog' %>
                </td> 
                <td>
                    <%= link_to 'Show', layouts_show_path %>
                </td>
            </tr>
               <% end %>
        <% end %>
   
</table>



<div id="dialog-confirm"></div>

<p><%= link_to 'Home', "/" %></p>
