 
 <p><%= link_to 'Home', "/uploads/index" %></p>
 <br />
  <br />
 <% if can? :update, :all%>
<%= form_tag({:action => 'create'}, :multipart => true) do %>
  <%= file_field 'upload', 'datafile' %>
  <%= submit_tag 'Upload' %>
<% end %>




<h2>Layouts list </h2>
<table>
   
   
      
      
     <% Dir.entries("public/layouts")[0..-1].each do |file_name| #[2..-1] as the first two will be ".", ".." %>
      <% unless file_name =="." || file_name ==".." %>
             <tr>
            <td><%= @l %> </td>
                 <td>
                     <%= link_to file_name, download_index_path( :file => "#{URI.escape(file_name)}", :filepath => "public/layouts" ), :method => :get, :controller => DownloadController %>
                </td>
                <td>
                     <%= link_to  'Delete', delete_index_path( :file => "#{URI.escape(file_name)}", :filepath => "public/layouts", :path => 'layouts_path' ), :method => :delete, :controller => DeleteController %>
                </td> 
                <td>
                    <%= link_to 'Show', layouts_show_path %>
                </td>
            </tr>
               <% end %>
        <% end %>
   
</table>


  <% end %>
<div id="dialog-confirm"></div>


