 <p class="error"><%= flash[:error] %></p>
 <p><%= link_to 'Home', "/uploads/index" %></p>
 <br />
  <br />
 <% if can? :update, :all%>
<%= form_tag({:action => 'create'}, :multipart => true) do %>
  <%= file_field 'upload', 'datafile' %>
  <%= submit_tag 'Upload' %>
<% end %>




<h2>Layouts list </h2>
<table>
 
 <% @layoutfiles.each do |layoutfile| %>
<tr>
            
            
            <td><%= layoutfile.filepath %></td>
                 <td>
                     <%= link_to 'Download', download_index_path( :file => layoutfile.filepath, :filepath => "public/layouts" ), :method => :get, :controller => DownloadController %>
                </td>
                
                 <td>
                    <td><%= link_to 'Delete', delete_file_layouts_path(:id =>layoutfile.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    
                </td> 
                
                <td>
                     <%= link_to 'Show', layout_path( :id => layoutfile.id, :filepath => "public/layouts" ), :method => :get %>
                </td>
                
</tr>


<% end %>
</table>



  <% end %>

<div id="dialog-confirm"></div>


