<p id="notice"><%= notice %></p>

<p>
  <strong>Ou:</strong>
  <%= @layout.ou %>
</p>
<p>
  <strong>Type:</strong>
  <%= @layout.ftype %>
</p>

<p>
  <strong>Description:</strong>
  <%= @layout.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @layout.start %>
</p>

<p>
  <strong>Length:</strong>
  <%= @layout.length %>
</p>




<%= link_to 'Edit', edit_layout_path(@layout) %> |
<%= link_to 'Back', layouts_path %>
