
 
<%= link_to 'Back', layouts_path %>
<%= javascript_include_tag  "jq.js" %>

            <% Dir.entries("public/layouts")[2..-1].each do |file_name| #[2..-1] as the first two will be ".", ".." %>
 <p><%= link_to 'Delete  ' + file_name, layouts_path( :file => "#{URI.escape(file_name)}" ) , method: :delete,  data: { confirm: 'Are you sure?' }, :id => "booked" %></p>
<%end%>
            
        
<table>
  <thead>
    <tr>
      <th>OU</th>
      <th>Type</th>
      <th>Description</th>
      <th>Start</th>
      <th>Length</th>
      
    </tr>
  </thead>

  <tbody>
    <% @layouts.each do |layout| %>
      <tr>
        <td><%= layout.ou %></td>
        <td><%= layout.ftype %></td>
        <td><%= layout.description %></td>
         <td><%= layout.start %></td>
          <td><%= layout.length %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>








